<!DOCTYPE html>
<html>
<head>
	<title>CSS Creature</title>

	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

	<h1>CSS Note</h1>
	<h2><b>Porpose of CSS</b></h2>
		<ul>
			<li>To give the outside of the site a unique look and feel.</li>
			<li>To alter color, fonts, backgrounds, etc.</li>
			<li>To implement some effects and animaions, although, it's not as powerful as jQuery.</li>
		</ul>
	<h2><b>CSS Statements</b></h2>
		<p>the four main componts include the following:</p>
			<ol>
				<li><b>Declaration:</b> the statement as a whole with curly braces.</li>
				<li><b>Selector</b>the name of teh part you want to style</li> 
				<li><b>Property:</b>properties to edit (e.g., width, height, background, etc</li>
				<li><b>value:</b> numbers, colors, urls - values that we assing.</li>
			</ol>
		<p>heres a good photo of what to illustratw thses items</p>
	<img src="img/css-declaration.png">

	<hr>







<div class="monster">
  <div class="ear ear_right">
    <div class="ear_up"></div>
    <div class="ear_body"></div>
  </div>
   <div class="ear ear_left">
    <div class="ear_up"></div>
    <div class="ear_body"></div>
  <div class="body">
    <div class="eye">
      <div class="iris"></div>
    <div class="eye">
    </div>

    </div>

  </div>
  <div class="shadow"></div>
</div>

</body>
</html>