<!DOCTYPE html>
<html>
<head>
	<title>CSS Creature</title>

	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

<div class="monster">
  <div class="ear ear_right">
    <div class="ear_up"></div>
    <div class="ear_body"></div>
  </div>
   <div class="ear ear_left">
    <div class="ear_up"></div>
    <div class="ear_body"></div>
  <div class="body">
    <div class="eye">
      <div class="iris"></div>
    <div class="eye">
    </div>

    </div>

  </div>
  <div class="shadow"></div>
</div>

</body>
</html>