<!DOCTYPE html>
<html>
<head>
	<title>Git Notes</title>

	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>
<body>
	<h1><b>Git Notes</b></h1>

	<h2><b>Local</b></h2>
		<ul>
			<li>Locally means that things are happening jsut on my computer.</li>
			<li>Local commits backs up to a local repository adn others can't accsess until we push to a remote.</li>
		</ul>
	<h2><b>Remote</b></h2>
		<ul>
			<li>Remote means your browser connects to an online server</li>
			<li>Remote repositories can be accessed by fellow team members (private repo) or publicly (public repo).</li>
		</ul>
	<h2><b>Local Set up</b></h2>
		<ol type="1">
 			<li>Open your command line/terminal.</li>
  			<li>Ue the cd command to navigate to your folder</li>
  			<li>Type in <b>git init</b>. this will set up a repository (repo) for you locally</li>
  			<li>a message like this should pop up: "Initialized empty git repository in dir/filename/stuff/here"</li>
		</ol>

<hr>

	<h2><b>Local Commits</b></h2>
		<ol type="1">
			<li>Make sure youre in the proper directory in the comamand line</li>
			<li>Enter <b>git add .</b> Note: This will add all the files that youve changed.</li>
			<li>Entetr <b>git commtr -m " a note about the things youve changed"</b> Note: The words quotes can be anything</li>
			<li>Your code is noe backed up locally. </li>
		</ol>

<hr>


</body>
</html>